@use '../abstracts/' as *;

// Primary Button

button:disabled {
  opacity: 0.5;
}

.button {
  position: relative;
  font-size: 1.1rem;
  border-radius: 8px;
  background-color: $clr-primary;
  padding: 0.875rem;
  cursor: pointer;
  border: 2px solid transparent;
  color: $fc-accent-light;
  transition: ease-out 0.25s;
  font-weight: 500;
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: 2px;
    border-radius: 6px;
    transition: ease-out 0.25s;
  }

  &::before {
    transform: scale(0, 1);
    border-top: 1px solid $clr-accent;
    border-bottom: 1px solid $clr-accent;
  }

  &::after {
    transform: scale(1, 1);
    border-right: 1px solid $clr-accent;
    border-left: 1px solid $clr-accent;
  }

  &:hover,
  &:focus-visible,
  &.loading {
    color: $fc-accent;
    background-color: $clr-primary-light;
    border: 2px solid $clr-accent;

    &::before {
      transform: scale(1, 1);
    }
  }

  &:focus-visible {
    outline: 1px solid $clr-accent-light;
  }
}

.button.secondary {
  background-color: hsl(199, 99%, 32%);

  &:hover {
    color: $fc-accent;
    background-color: hsl(199, 99%, 18%);
  }
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $clr-neutral-50;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    filter: brightness(2);
  }
}


