@use '../abstracts/' as *;

.toasts_container {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  z-index: 99;

  @include mq(phone) {
    width: 100%;
  }
}

.toast {
  width: 340px;
  padding: 1.15rem 0.9rem;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);

  @include mq(phone) {
    width: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 4px;
    width: 90%;
    height: 50%;
    border-radius: 2px;
    border-left: 3px solid;
    border-top: 3px solid;
    border-color: rgba(255, 255, 255, 0.2);
  }

  > * {
    transform: skewX(15deg);
  }

  &.success {
    background-color: hsl(120, 66%, 30%);

    .toast_icon {
      color: hsl(120, 70%, 75%);
    }

    .toast_line::before {
      background-color: hsl(120, 70%, 75%);
    }

    &::before {
      border-color: hsla(120, 70%, 75%, 0.5);
    }
  }

  &.error {
    background-color: hsl(0, 80%, 25%);

    .toast_icon {
      color: hsl(0, 85%, 70%);
    }

    .toast_line::before {
      background-color: hsl(0, 85%, 70%);
    }

    &::before {
      border-color: hsla(0, 85%, 70%, 0.5);
    }
  }

  &.info {
    background-color: hsl(199, 90%, 27%);

    .toast_icon {
      color: hsl(205, 67%, 75%);
    }

    .toast_line::before {
      background-color: hsl(205, 67%, 75%);
    }

    &::before {
      border-color: hsla(205, 67%, 75%, 0.5);
    }
  }
}

.toast_icon {
  flex-shrink: 0;
}

.toast_message {
  color: $fc-primary;
  font-weight: $fw-regular;
}

.toast_line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  &::before {
    content: '';
    display: block;
    width: 0%;
    height: 100%;
    animation: toastLine 5s linear;
  }
}

@keyframes toastLine {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

