@use '../abstracts/' as *;

.gap-25 {
  gap: $size-25;
}

.gap-50 {
  gap: $size-50;
}

.gap-75 {
  gap: $size-75;
}

.gap-100 {
  gap: $size-100;
}

.gap-150 {
  gap: $size-150;
}

.gap-200 {
  gap: $size-200;
}

.gap-250 {
  gap: $size-250;
}