@use '../abstracts/' as *;

.drawer {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  background-color: $clr-primary;
  padding-block: 1rem;

  h1 {
    font-size: 1.7rem;
    color: $fc-accent-light;
  }

  .logo {
    width: 35px;
  }
}

.drawer_line {
  width: 80%;
  height: 2px;
  background-color: $clr-accent-light;
  opacity: 0.5;
  margin-block: 1rem;
}

.nav-primary_link.nav-drawer-link {
  padding-block: 1.2rem;
}

.drawer_close-btn {
  position: absolute;
  right: -20px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $clr-primary-light;
  border: 2px solid hsla(204, 66%, 33%, 0.9);
  color: $fc-accent-light;
  cursor: pointer;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;

  &:hover,
  &:focus-visible {
    border: 2px solid $clr-accent-dark;
    color: $fc-accent;
  }

  &:focus-visible {
    outline: 1px solid $clr-accent-light;
  }
}